<h1>INTRODUCTION - EXPANDING A SPECIALISED COFFEE BUSINESS</h1>
<p>A friend owns and operates a successful coffee roasting and snack food business. Their business model delivers bespoke coffee blends, roasted and delivered daily to coffee shops and cafés situated close to their roasters. They also produce a range of coffee snacks, which are made popular through effective marketing to millennial and Gen Y professionals on social media.</p>
<p>They are now looking to expand their business into Europe and are seeking a location to establish a roaster and centre of operations. They have set down some pre-requisites when finding an ideal location, including desirability (they intend living there with their families). They will also establish their roasting business and bakery close to their target market, as the freshness of their product is a key part of their value proposition.</p>
<p><i><b>Note:</b> The solution we create for this problem, would be useful for someone looking to establish a similar business in a European (or other) location.</i></p>

<h2>Problem</h2>
<p>Social media and word of mouth has been good to help them narrow down a region and consider some of its environmental and cultural nuances. They've decided they need a more systematic approach to assessing locations however and have asked what data science could do to assist.</p>
<p> They need to expand to a location that enjoys and consumes a lot of coffee but it also needs to be somewhere that is going to work for the family. They like the hustle and bustle of big cities, as these tend to fit in with their urban lifestyles.</p>
As far as the business is concerned, they have made the following assumptions:
<ul>
    <li>The higher the density of coffee shops situated near to the work place, the higher the <b>likelihood</b> that people (workers) will buy coffee from a coffee shops rather simply using the coffee machine in the office</li>
    <li>The higher the consumption of coffee in a given country, the more chances (<b>frequency</b>) they have to increase sales and make the venture a success</li>
    <li>They want to establish somewhere with a reasonably large population, so have provided a city population threshold of at least <b>250,000</b> persons</li>
</ul>
<h3>They have asked us to help them, establish a simple way of compiling a list of target cities, and then build a model to compare each city using the criteria above.</h3>
<p><i><b>Note</b>: We have assumed that our friends will undertake a separate study to compare inputs at each location such as cost (rent, labour, raw materials) and price economics to determine profitability of their business venture. Other cultural factors such as <b>fika</b> in Sweden have also been excluded, as this would over complicate the assessment.</i></p>

<h1>DATA SECTION</h1>
<p>When considering the problem, we need to understand a number of factors including coffee consumption, desirability for living, 
population and specific location data including the presence of coffee shops that could stock and sell their products. To solve this problem, we will therefore refer to a number of different data sources.</p>
<p>Some <a href="https://weaverscoffee.com/blogs/blog/the-worlds-top-coffee-consuming-nations-and-how-they-take-their-cup">preliminary research</a> indicates that Scandinavian/Nordic countries tend to be the highest consumers of coffee per capita, therefore cities in these countries will be good place to start. Cities in this region consistently rank amoung the most desirable places to live on earth, particularly when it comes to <a href="https://mobilityexchange.mercer.com/Insights/quality-of-living-rankings">quality of living.</a></p>
To begin our assessment, a few of the specifics that we would like to understand, and where we will find the data include:
<ul>
    <li>Global coffee consumption (Data source: <a href="http://www.ico.org/">International Coffee Organization</a> and <a href="https://weaverscoffee.com/blogs/blog/the-worlds-top-coffee-consuming-nations-and-how-they-take-their-cup">Weavers</a>)</li>
    <li>Population Density (Data source: <a href="https://en.wikipedia.org/wiki/List_of_national_capitals_by_population">Capital Cities by population</a>)</li>
    <li>European Countries (Data source: <a href="https://en.wikipedia.org/wiki/Europe">European countries</a>)</li>
    <li>Quality of living (Data source: <a href="https://mobilityexchange.mercer.com/Insights/quality-of-living-rankings">Mercer Quality of Living</a> survey</li>
    <li>Latitude & longitude data for each of our cities (to be used in the next step) (Data source: Geopy geocoding webservice)</li>
    <li>Coffee shop and Café density (Data source: Foursquare API)</li>
</ul>
<p>Data from the sources above, has been compiled from census data (population statistics from governments) and data collected by third party industry groups (eg. International Coffee Organisation) and global consulting firms (eg. Mercer) who perform targeted surveys and analysis to generate insights. While the criteria that we will assess against and the data sources nominated are not exhaustive, they do present a good starting point for our friends to undertake a more detailed assessment of the locations or locations that we recommended.</p>

<h2>METHODOLOGY</h2>

<p>Using the data that we source above, we will create 3 x metrics, representing the <b>Market, Lifestyle</b> and <b>Opportunity</b> presented at each location (city). We will then apply a weighting to each of these metrics, to derive a score for us to compare each city. The initial weightings (how much each metric weighs on the decision of our friends) that we will use are as follows:</p>
<h2>SCORE = Market Metric x 30% + Lifestyle Metric x 40% + Opportunity Metric x 30%</h2>

<h3><b>Market Metric = [NCA x P / C / 100]</b></h3>
<table>
    <tr>
        <th>Where:</th><td></td>
    </tr>
    <tr>
        <th>NCA</th><td>the avg national consumption of coffee per capita (Source: <a href="http://www.ico.org/">International Coffee Organization</a>)</td>
    </tr>
    <tr>
        <th>P</th><td>the population of the capital city (Source: <a href="https://en.wikipedia.org/wiki/List_of_national_capitals_by_population">Capital Cities by Population)</a></td>
    </tr>
    <tr>
        <th>C</th><td>the number of competitors at the location (for now we will assume that there will be 1 competitor per 1000 of population in each city)</td>
    </tr>
    <tr>
        <th>100</th><td>a fixed number we are using to scale our result (helps to simplify scoring)</td>
    </tr>
</table>

<h3><b>Lifestyle Metric = Q</b></h3>

<table>
    <tr>
        <th>Where:</th><td></td>
    </tr>
    <tr>
        <th>Q</th><td>A measure of the Quality of living, using the ranking in the <a href="https://mobilityexchange.mercer.com/Insights/quality-of-living-rankings">Mercer Quality of Living</a> survey</td>
    </tr>
    <tr>
        <td></td><td><i>Note: Rankings have been reversed (eg. 1st becomes 230, while last becomes 0) to increase the metric for scoring</i></td>
    </tr>
</table>

<h3><b>Opportunity Metric = [CH + C]</b></h3>

<table>
    <tr>
        <th>Where:</th><td></td>
    </tr>
    <tr>    
        <th>CH</th><td>the number of coffee shops found within 500m of the city centre (used to represent a coffee house density for the city)</td>
    </tr>
    <tr>
        <th>C</th><td>the number of cafés found within 500m of the city centre (used to represent a café density for the city)</td>
    </tr>
    <tr>
        <td></td><td><i>Note: FOURSQUARE limits the number of venues that we can find on an API call to 50, meaning that our max combined metric is 100</i></td>
    </tr>    
</table>

<b>Note:</b> These can be adjusted at each time, depending on how strongly our friends feel about a <b>work v lifestyle</b> balance.
<h3>Our work is to find the data to complete each of the Metrics and then build a score that will enable us to compare each city. To find the data used in building an Opportunity metric, we will call on the Foursquare API, to provide us location information relating to each city we are trying to compare.</h3>

<h1>RESULTS</h1>
<h3>Dataset 1:</h3>
<p>Our initial dataset produced a list of the <a href="https://weaverscoffee.com/blogs/blog/the-worlds-top-coffee-consuming-nations-and-how-they-take-their-cup">Top 25 coffee consuming countries</a> around the globe.</p>
<h3>Dataset 2:</h3>
<p>The second dataset scraped a table listing lists 243 <a href="https://en.wikipedia.org/wiki/List_of_national_capitals_by_population">Capital Cities from around the world by Population</a> from wikipedia.</p>
<h3>Dataset 3:</h3>
<p>The third dataset, scraped a list of all 44 countries that comprise <a href="https://en.wikipedia.org/wiki/Europe">Europe</a> again from a table on the wikipedia site.</p>
<h3>Dataset 4:</h3>
<p>The fourth dataset was scraped from the annual <a href="https://mobilityexchange.mercer.com/Insights/quality-of-living-rankings">Mercer quality of living surveys</a> which provides a detailed assessment on the quality of living in a number of locations around the globe. The 231 cities included in the survey have been listed from best (1) to worst (231).</p>
<h3>Dataset 5:</h3>
<p>Next we created a loop, and using the Geopy geocoding webservice matched the latitude and longitude for each city in our dataset</p>
<h3>Dataset 6:</h3>
<p>Our last datasets were generated using calls to the <a href="https://developer.foursquare.com">Foursquare API</a>. Using <b>get</b> from the requests library, we used <a href="https://developer.foursquare.com">Foursquare</a> to search each city in our dataset for venues that were in the Coffee Shop and Café categories, limiting our search radius to 500m from the latitude and longitude for that city. <a href="https://developer.foursquare.com">Foursquare</a> limits the number of venues returned to 50 per category, therefore the maximum number of venues found for each city was limited to 100 (50 x Coffee Shops + 50 Cafés)</p>

<h1>DISCUSSION</h1>
<p>I've used the <a href="https://weaverscoffee.com/blogs/blog/the-worlds-top-coffee-consuming-nations-and-how-they-take-their-cup">survey of the top coffee consuming countries</a> as a starting point for our search, as this provides a good reference for potential target markets. Other approaches could have been taken, however this was my starting point and data could be easily found online. The <a href="https://weaverscoffee.com/blogs/blog/the-worlds-top-coffee-consuming-nations-and-how-they-take-their-cup">survey</a> itself was compiled by the <a href="http://www.ico.org">International Coffee Organisation</a> however access to the survey is restricted to fee paying customers only. I was able to find a good summary of the <a href="https://weaverscoffee.com/blogs/blog/the-worlds-top-coffee-consuming-nations-and-how-they-take-their-cup">survey results</a> on the <a href="https://weaverscoffee.com">Weavers Coffee & Tea website</a> which showed a list of the <a href="https://weaverscoffee.com/blogs/blog/the-worlds-top-coffee-consuming-nations-and-how-they-take-their-cup">Top 25 countries</a>. We created a dataframe of <b>25 countries</b>, comprising country name, annual coffee consumption per capita and ranking (coffee consumption), scraping data from this website (Dataset 1). We have kept the rank column for now, however as we progress this will become obsolete - with the coffee consumption per capita being more important.</p>
<p>Dataset 2 was generated using data on the <a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia website</a>. <a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia</a> is a useful resource for finding information on different topic, and while not always accurate, it was a good enough reference to find capital cities and their populations. I have used capital cities, as these typically a provide a good mix of size, infrastructure and commerce that would support establishment of a business such as my friends'. Dataset 2 was used to update our dataframe, providing population data and limiting the dataframe to cities grater than the population threshold (250,000 persons). Despite countries such as Iceland ranking high (#3) in the <a href="https://weaverscoffee.com/blogs/blog/the-worlds-top-coffee-consuming-nations-and-how-they-take-their-cup">coffee consumption survey results</a>, its capital of Reykjavik was dropped from our dataframe as it no longer passed the population threshold. Our dataframe was now reduced to <b>20 cities</b> (countries) with population data and per capita data for coffee consumption</p>
<p><a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia</a> was also used as a reference for <a href="https://en.wikipedia.org/wiki/Europe">(countries) located in Europe</a>. Our dataframe included cities from 4 x countries, located outside of Europe including the USA, Canada, Lebanon and Brazil. After dropping these, our dataframe was reduced to <b>16 cities.</b></p>
<p>Our focus now is on constructing our <b>Lifestyle Metric</b>. The <a href="https://mobilityexchange.mercer.com/Insights/quality-of-living-rankings">Mercer quality of living rankings</a> (Dataset 4) provides a detailed assessment on the quality of living in a number of locations around the globe. Each of the cities included in our remaining target list, are included in the <a href="https://mobilityexchange.mercer.com/Insights/quality-of-living-rankings">Mercer dataset</a>, providing us with the ability to give a fair assessment for each. To use these rankings, some data wrangling was required. We reversed the ranking, with the best ranked city (Vienna) now having the highest number (231) and the worst ranked city (Baghdad) now having the lowest number (1). We have done this as our end objective is to generate a score for each city, with the highest score representing the best city. A column was added to our dataframe with the reverse ranking for each city in our dataframe, taking the place as a <b>Lifestyle Metric</b>.</p>
<p>The <b>Opportunity Metric</b> represents an exposure for my friends products to get into the hands (mouths) of consumers. To calculate this, i've assumed that the higher the density of Coffee Shops and Cafés at a given location - the more chances my friend has of selling their products. The datasets obtained from calls to the <a href="https://developer.foursquare.com">Foursquare API</a> provide useful information relating to venue density within a given radius. The 50 venue limitation of the <a href="https://developer.foursquare.com">Foursquare API</a>, provided some challenges, however to over come these i've merely reduced the radius of the search area to 500m. The result was a reasonable spread, allowing us to identify those cities with higher densities than others. The sum of Coffee shop and Cafés now becomes the <b>Opportunity Metric</b>, with a new column added to our dataframe for each city populated with these numbers.</p>
<p>For our friends coffee business to succeed, they would need to establish in a location that not only offered multiple opportunities to sell their products and was a nice place for the family to live, but a location where the population drunk a lot of coffee and the population density was high enough to provide scale. Measuring this would require a means of calculating a potential market size. I've established the <b>Market Metric</b> to represent this market size, using the annual coffee consumption per capita and multiplying it by the population and then factoring competition. I've assumed a fixed competitor density at each location based on 1 competitor for every 1000 coffee consumers. Applying the <b>Market Metric</b> formula set out in the <b>METHODOLOGY</b> section above, the results were included in a new column in our dataframe for each city.</p>

<h1>CONCLUSION</h1>
<p>After generating our 3 x metrics and calculating the score, using the formula set out in the <b>METHODOLOGY</b> section above, we have updated our dataframe and ordered it by Score, ranked highest to lowest. <b>Helsinki, Finland</b> scored the highest, rating as the best prospect for my friends to establish their new business in Europe. With a good balance between population, coffee consumption, number of places to sell coffee and coffee snacks and a good quality life (amoung the top 30 cities to live in the world), <b>Helsinki</b> is a location worth exploring further. This is closely followed by <b>Amsterdam</b>, with <b>Vienna</b> and <b>Copenhagen</b> also scoring very well.</p>

<h1>CONSTRUCTING THE DATASETS AND MODEL</h1>
<h3>STEP 1: IMPORT LIBRARIES, INSTALL SOFTWARE AND DECLARE VARIABLES & PARAMETERS</h3>
<p>Import the numpy, pandas and requests libraries so that we can start importing data to work with</p>

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import requests

import json # library to handle JSON files
from pandas import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# Import k-means from clustering stage
from sklearn.cluster import KMeans

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

<p>Install the folium, geopy and beautiful soup software packages on the server and import libraries</p>

In [2]:
# install folium and geop packages and import folium rendering library
!conda install -c conda-forge folium=0.5.0 --yes
!conda install -c conda-forge geopy --yes
import folium
from geopy.geocoders import Nominatim

# install beautiful soup 4 and lxml packages and import the beautiful soup library
!conda install -c conda-forge beautifulsoup4 --yes
!conda install -c conda-forge lxml --yes
from bs4 import BeautifulSoup

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

<p>Set parameters that we will use later when calling on the Foursquare API</p>

In [3]:
CLIENT_ID = '##################' # Foursquare ID hashed out for privacy
CLIENT_SECRET = '################' # Foursquare Secret hashed out for privacy
VERSION = '20180604'
radius = 500
LIMIT = 50 # Foursquare limits the no. of venue type searches to 50 so this is our max limit

<h3>STEP 2: CREATE DATAFRAMES, SCRAPING DATA FROM ONLINE RESOURCES</h3>
<p>Create datasets using the Requests and format using the Beautiful Soup package</p>

In [5]:
# Set the target urls for scraping the datasets
cof_url = requests.get('https://www.worldatlas.com/articles/top-10-coffee-consuming-nations.html').text
city_url = requests.get('https://en.wikipedia.org/wiki/List_of_national_capitals_by_population').text
eur_url = requests.get('https://en.wikipedia.org/wiki/Europe').text
life_url = requests.get('https://mobilityexchange.mercer.com/Insights/quality-of-living-rankings').text

# Create the Beautifulsoup objects and scrape data from the urls
cof_soup = BeautifulSoup(cof_url,'lxml')
city_soup = BeautifulSoup(city_url,'lxml')
eur_soup = BeautifulSoup(eur_url,'lxml')
life_soup = BeautifulSoup(life_url,'lxml')

# Search for the target tables in the respective datasets
city_tbl = city_soup.find('table',{'class':'wikitable sortable'})
eur_tbl = eur_soup.find('table',{'class':'sortable wikitable'})

<p>Declare dataframes that we will use to clean and wrangle the data</p>

In [6]:
# Define list of column names to be used in the neighborhoods dataframe
cof_cols = ['Rank', 'Country', 'Consumption'] 
city_cols = ['Country', 'Capital', 'Population']
cons_cols = ['Rank', 'Country', 'Capital', 'Population', 'Consumption']
eur_cols = ['Country', 'Continent']
life_cols = ['Rank', 'City', 'Country']

# Instantiate the dataframe and set the column name
cof_df = pd.DataFrame(columns=cof_cols)
city_df = pd.DataFrame(columns=city_cols)
cons_df = pd.DataFrame(columns=cons_cols)
eur_df = pd.DataFrame(columns=eur_cols)
life_df = pd.DataFrame(columns=life_cols)

<p>Create our first dataframe - scraping data for top coffee consuming countries from the <a href="https://www.worldatlas.com/articles/top-10-coffee-consuming-nations.html">World Atlas</a> website</p>

In [7]:
for rows in cof_soup.find_all('tr'):
    cells = rows.find_all('td')
    if len(cells) == 3:
        # Assign data scraped from the <td> cells to variables for rank, country and consumption and clean the text
        var_a = cells[0].find(text=True).rstrip('\n')
        var_b = cells[1].find(text=True).rstrip('\n')
        var_c = float(cells[2].find(text=True).rstrip('\n').replace(' /',','))
        
        # Create row data for cleaned rank, country and consumption
        new_row = {'Rank':var_a, 'Country':var_b, 'Consumption':var_c}
            
        # Append the row data to the cof_cons dataframe
        cof_df = cof_df.append(new_row, ignore_index=True)

# Convert the Consumption column from an object to a float
cof_df.astype({'Consumption': 'float'}).dtypes

# Check the dataframe
cof_df.head()

  Rank      Country  Consumption
0    1      Finland         12.0
1    2       Norway          9.9
2    3      Iceland          9.0
3    4      Denmark          8.7
4    5  Netherlands          8.4

<p>Create the <b>second</b> dataframe scraping the country, capital city and population data from the <b><a href="https://en.wikipedia.org/wiki/List_of_national_capitals_by_population">wikipedia website</a></b></p>

In [8]:
cells = city_tbl.findAll('td')

# Create a list with data taken from the html table cells
countries = []

for cell in cells:
    countries.append(cell.text)
counter = 1

for cell in countries:
    if counter == 2:
        city_coun = cell.rstrip('\n')
    elif counter == 3:
        city_cap = cell.rstrip('\n')
    elif counter == 4:
        
        # Some tidy up work required due to nuances in the wikitable data
        if '[' in cell:
            lst = cell.rsplit('[',1)
            city_pop = lst[0].strip().replace(',', '')
        else:
            city_pop = cell.strip().replace(',', '')
        counter = -2
        #city_pop = int(city_pop
        new_row = {
            'Country':city_coun,
            'Capital':city_cap,
            'Population':city_pop
        }
        # Append the new row into the dataframe
        city_df = city_df.append(new_row, ignore_index=True)
    counter += 1

# Check the dataframe
city_df.head()

      Country   Capital Population
0       China   Beijing   21542000
1       Japan     Tokyo   13929286
2      Russia    Moscow   12506468
3    DR Congo  Kinshasa   11855000
4   Indonesia   Jakarta   10075310

<p>Consolidate the dataframes, combing the coffee consumption data by country, along with the capital city and population data. While doing this, we will also omit any cities that have less than 250,000 people.</p>

In [9]:
for rank, coun_a, cons in zip(cof_df['Rank'], cof_df['Country'], cof_df['Consumption']):
    for coun_b, cap, pop in zip(city_df['Country'], city_df['Capital'], city_df['Population']):
        if str(coun_a) in str(coun_b):    
            # Convert the population string to a number
            pop = int(pop)
            
            # Only include cities with a population more than 250,000 people
            if pop > 250000:
                new_row = {
                    'Rank':rank,
                    'Country':coun_a,
                    'Capital':cap,
                    'Population':pop,
                    'Consumption':cons
                }
                cons_df = cons_df.append(new_row, ignore_index=True)
            break
cons_df.astype({'Population': 'int64'}).dtypes

# Check the dataframe
cons_df

   Rank                 Country           Capital Population  Consumption
0     1                 Finland          Helsinki     635591         12.0
1     2                  Norway              Oslo     645701          9.9
2     4                 Denmark        Copenhagen     794128          8.7
3     5             Netherlands         Amsterdam     855965          8.4
4     6                  Sweden         Stockholm     962154          8.2
5    10                  Canada            Ottawa     934243          6.5
6    11  Bosnia and Herzegovina          Sarajevo     395133          6.2
7    12                 Austria            Vienna    1749673          6.1
8    13                   Italy              Rome    2868104          5.9
9    14                  Brazil          Brasília    2648532          5.8
10   16                 Germany            Berlin    3748148          5.5
11   17                  Greece            Athens     664046          5.4
12   18                  France             Paris    2241346          5.4
13   19                 Croatia            Zagreb     804200          5.1
14   20                  Cyprus           Nicosia     270000          4.9
15   21                 Lebanon            Beirut    1574387          4.8
16   22                 Estonia           Tallinn     440206          4.5
17   23                   Spain            Madrid    3233527          4.5
18   24                Portugal            Lisbon     564657          4.3
19   25           United States  Washington, D.C.     658893          4.2

<p>Our consolidated dataframe contains the <a href="https://www.worldatlas.com/articles/top-10-coffee-consuming-nations.html">Top 25 coffee consuming countries</a>, which include locations situated outside of Europe. We now need to remove the non-European countries from our dataframe. To do this, we will first create another dataframe that lists the <a href='https://en.wikipedia.org/wiki/Europe'>countries of Europe</a></p>

In [10]:
cells = eur_tbl.findAll('td')
eur_countries = []

# Scrape data from wikitable and append to the dataframe
for cell in cells:
    eur_countries.append(cell.text)
counter = 1

for country in eur_countries:
    if counter == 3:
        if '[' in country:
            a_str = country.rsplit('[',1)
            b_str = a_str[0].rstrip('\n')
        else:
            b_str = country.rstrip('\n')

        # Create the new row
        new_row = {
            'Country':b_str,
            'Continent':'Europe'
        }
        # Append the new row into the dataframe
        eur_df = eur_df.append(new_row, ignore_index=True)
    elif counter == 8:
        counter = 0
    counter += 1
    
# Check the dataframe
eur_df.head()

       Country Continent
0      Albania    Europe
1      Andorra    Europe
2     Armenia     Europe
3      Austria    Europe
4  Azerbaijan     Europe

<p>Using this list of European countries, we trim down our consolidated dataframe limiting to only to countries in Europe.</p>

In [11]:
for ind, country in zip(cons_df.index, cons_df['Country']):
    flg = False
    for eur_country in eur_df['Country']:
        if str(country) in str(eur_country):
            flg = True
            break
    if flg is False:
        cons_df.drop(ind, inplace=True)
cons_df

   Rank                 Country     Capital Population  Consumption
0     1                 Finland    Helsinki     635591         12.0
1     2                  Norway        Oslo     645701          9.9
2     4                 Denmark  Copenhagen     794128          8.7
3     5             Netherlands   Amsterdam     855965          8.4
4     6                  Sweden   Stockholm     962154          8.2
6    11  Bosnia and Herzegovina    Sarajevo     395133          6.2
7    12                 Austria      Vienna    1749673          6.1
8    13                   Italy        Rome    2868104          5.9
10   16                 Germany      Berlin    3748148          5.5
11   17                  Greece      Athens     664046          5.4
12   18                  France       Paris    2241346          5.4
13   19                 Croatia      Zagreb     804200          5.1
14   20                  Cyprus     Nicosia     270000          4.9
16   22                 Estonia     Tallinn     440206          4.5
17   23                   Spain      Madrid    3233527          4.5
18   24                Portugal      Lisbon     564657          4.3

<p>Our dataframe has now reduced to 16 cities - all situated in Europe.</p>
<p>Next we will create a new dataframe and populate this with data scraped from <a href="https://mobilityexchange.mercer.com/Insights/quality-of-living-rankings">Mercer's Annual Quality of Living Survey</a></p>

In [12]:
# Create a loop which cycles through each row in the table 
for rows in life_soup.find_all('tr'):
    
    # Assign the cells of each row (<td>) to the variable cells
    cells = rows.find_all('td')

    # First test if there are 3 cells in the row
    if len(cells) == 3:
    
        # Assign data scraped from the <td> cells to variables for rank, country and city and clean the text
        var_a = cells[0].find(text=True).rstrip('\n')
        var_b = cells[1].find(text=True).rstrip('\n')
        var_c = cells[2].find(text=True).rstrip('\n').replace(' /',',')
        
        new_row = {'Rank':var_a, 'City':var_b, 'Country':var_c}
            
        # Append the row data to the neighborhoods dataframe
        life_df = life_df.append(new_row, ignore_index=True)

# Check the dataframe
life_df.head()

  Rank       City      Country
0    1     Vienna      Austria
1    2     Zürich  Switzerland
2    3  Vancouver       Canada
3    3     Munich      Germany
4    3   Auckland  New Zealand

<p>Last, we will check the cities in our combined dataframe and match these to the cities in the Mercer table. We will include a <b>Quality of Life</b> metric in our consolidated dataframe, represented by deducting the city ranking in the <a href="https://mobilityexchange.mercer.com/Insights/quality-of-living-rankings">Mercer survey</a>, from the maximum ranking (231)</p>

In [13]:
list_a = []
for country, capital in zip(cons_df['Country'], cons_df['Capital']):
    
    # Set a default value of 100 where the capital city does not appear in the Mercer survey list
    def_val = 100
    
    for l_rank, l_city, l_country in zip(life_df['Rank'], life_df['City'], life_df['Country']):
        if str(country) in str(l_country) and str(capital) in str(l_city):
            def_val = int(l_rank)
            # As we have found a match - break the loop and move to the next country in the cons_df to compare
            break
    # Create a score by deducting the city rank, from the maximum ranking in the survey
    list_a.append(231-def_val)

# Add the new Lifestype ranking column to the dataframe
cons_df['Lifestyle Metric'] = list_a
# Check the dataframe
cons_df

,Rank,Country,Capital,Population,Consumption,Lifestyle Metric
0,1,Finland,Helsinki,635591,12.0,200
1,2,Norway,Oslo,645701,9.9,206
2,4,Denmark,Copenhagen,794128,8.7,223
3,5,Netherlands,Amsterdam,855965,8.4,220
4,6,Sweden,Stockholm,962154,8.2,208
6,11,Bosnia and Herzegovina,Sarajevo,395133,6.2,131
7,12,Austria,Vienna,1749673,6.1,230
8,13,Italy,Rome,2868104,5.9,175
10,16,Germany,Berlin,3748148,5.5,218
11,17,Greece,Athens,664046,5.4,142
12,18,France,Paris,2241346,5.4,192
13,19,Croatia,Zagreb,804200,5.1,133
14,20,Cyprus,Nicosia,270000,4.9,131
16,22,Estonia,Tallinn,440206,4.5,145
17,23,Spain,Madrid,3233527,4.5,185
18,24,Portugal,Lisbon,564657,4.3,194

<h3>PART 3 - USE FOURSQUARE API TO FIND VENUES IN CITIES</h3>
<p>We will now use the <b>FOURSQUARE</b> API to search for coffee shops and cafe's, the target customers for our friends business, in each of the cities. We will use the density of these venues to derive a score that we can use to compare each of the cities and make our recommendations</p>
<p>Our first task is to add the latitude and longitude of each city to the dataframe using the goepy geolocator package</p>

In [14]:
lat_list = []
lon_list = []
for city, country in zip(cons_df['Capital'], cons_df['Country']):
    address = '{}, {}'.format(city, country)
    geolocator = Nominatim(user_agent="explorer")
    location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude
    lat_list.append(latitude)
    lon_list.append(longitude)

# Add the new columns for latitude and longitude to the dataframe
cons_df['Latitude'] = lat_list
cons_df['Longitude'] = lon_list

# Check the dataframe
cons_df

,Rank,Country,Capital,Population,Consumption,Lifestyle Metric,Latitude,Longitude
0,1,Finland,Helsinki,635591,12.0,200,60.167410,24.942577
1,2,Norway,Oslo,645701,9.9,206,59.913330,10.738970
2,4,Denmark,Copenhagen,794128,8.7,223,55.686724,12.570072
3,5,Netherlands,Amsterdam,855965,8.4,220,52.372760,4.893604
4,6,Sweden,Stockholm,962154,8.2,208,59.325117,18.071093
6,11,Bosnia and Herzegovina,Sarajevo,395133,6.2,131,43.851977,18.386687
7,12,Austria,Vienna,1749673,6.1,230,48.208354,16.372504
8,13,Italy,Rome,2868104,5.9,175,41.893320,12.482932
10,16,Germany,Berlin,3748148,5.5,218,52.517037,13.388860
11,17,Greece,Athens,664046,5.4,142,37.983941,23.728305
12,18,France,Paris,2241346,5.4,192,48.856697,2.351462
13,19,Croatia,Zagreb,804200,5.1,133,45.813177,15.977048
14,20,Cyprus,Nicosia,270000,4.9,131,35.173930,33.364726
16,22,Estonia,Tallinn,440206,4.5,145,59.437216,24.745369
17,23,Spain,Madrid,3233527,4.5,185,40.416705,-3.703582
18,24,Portugal,Lisbon,564657,4.3,194,38.707751,-9.136592

<p>Define functions that will call on the Foursquare API and returning a count of the number of coffee shops and cafe's in each city</p>

In [15]:
def getCShops(city_lat, city_long, radius):

    # Define search query
    q_search = 'Coffee Shop'
    
    fs_url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(
        CLIENT_ID,
        CLIENT_SECRET,
        city_lat,
        city_long,
        VERSION,
        q_search,
        radius,
        LIMIT)
    
    results = requests.get(fs_url).json()
    venues = results['response']['venues']

    # Transform venues into a dataframe
    ven_df = json_normalize(venues)
    
    vlist_a = []
    if len(ven_df) > 0:
        for snames in ven_df['name']:
            vlist_a.append(snames)
    
    return len(vlist_a)

def getCafes(city_lat, city_long, radius):

    # Define search query   
    q_search = 'Café'
    
    fs_url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(
        CLIENT_ID,
        CLIENT_SECRET,
        city_lat,
        city_long,
        VERSION,
        q_search,
        radius,
        LIMIT)
    
    results = requests.get(fs_url).json()
    venues = results['response']['venues']

    # Transform venues into a dataframe
    ven_df = json_normalize(venues)
    
    vlist_b = []
    
    if len(ven_df) > 0:
        for snames in ven_df['name']:
            vlist_b.append(snames)
    
    return len(vlist_b)

<p>Add Coffee Shop and Café Density columns to our consolidated dataframe, populating with data that we have called from the Foursquare API functions defined above.</p>

In [16]:
caf_dens = []
cof_dens = []
opp_met = []

for c_lat, c_long in zip(cons_df['Latitude'], cons_df['Longitude']):
    trg = 0
    coffee_shops = getCShops(c_lat, c_long, radius)
    cafes = getCafes(c_lat, c_long, radius)
    trg = coffee_shops + cafes
    opp_met.append(trg)
    cof_dens.append(coffee_shops)
    caf_dens.append(cafes)
    
cons_df['Coffee Shop Dens'] = cof_dens
cons_df['Cafe Density'] = caf_dens
cons_df['Opportunity Metric'] = opp_met

#Check the dataframe
cons_df

,Rank,Country,Capital,Population,Consumption,Lifestyle Metric,Latitude,Longitude,Coffee Shop Dens,Cafe Density,Opportunity Metric
0,1,Finland,Helsinki,635591,12.0,200,60.167410,24.942577,50,50,100
1,2,Norway,Oslo,645701,9.9,206,59.913330,10.738970,22,35,57
2,4,Denmark,Copenhagen,794128,8.7,223,55.686724,12.570072,26,34,60
3,5,Netherlands,Amsterdam,855965,8.4,220,52.372760,4.893604,50,50,100
4,6,Sweden,Stockholm,962154,8.2,208,59.325117,18.071093,11,50,61
6,11,Bosnia and Herzegovina,Sarajevo,395133,6.2,131,43.851977,18.386687,7,9,16
7,12,Austria,Vienna,1749673,6.1,230,48.208354,16.372504,40,50,90
8,13,Italy,Rome,2868104,5.9,175,41.893320,12.482932,0,9,9
10,16,Germany,Berlin,3748148,5.5,218,52.517037,13.388860,27,38,65
11,17,Greece,Athens,664046,5.4,142,37.983941,23.728305,50,50,100
12,18,France,Paris,2241346,5.4,192,48.856697,2.351462,20,50,70
13,19,Croatia,Zagreb,804200,5.1,133,45.813177,15.977048,47,37,84
14,20,Cyprus,Nicosia,270000,4.9,131,35.173930,33.364726,44,50,94
16,22,Estonia,Tallinn,440206,4.5,145,59.437216,24.745369,30,50,80
17,23,Spain,Madrid,3233527,4.5,185,40.416705,-3.703582,37,50,87
18,24,Portugal,Lisbon,564657,4.3,194,38.707751,-9.136592,18,50,68

<p>Next we will create the <b>Market Metric</b> and add this as a column to our consolidated df. First we will create an estimate of competition, assuming that there would be at least 1 competitor per 1000 of population. We will then calculate the total market size (annual coffee consumption) for each city and divide this by the estimate number of competitors in each city to arrive at an accessible market size. Last we will scale back the number by 100, to make scoring easier.</p>

In [17]:
competitor_density = 1000
mark_met = []

for city, pop, cons, cs_dens, caf_dens in zip(cons_df['Capital'],
                                              cons_df['Population'],
                                              cons_df['Consumption'],
                                              cons_df['Coffee Shop Dens'],
                                              cons_df['Cafe Density']):
    
    tot_market = pop * cons
    comp = pop / competitor_density
    acc_market = tot_market / comp / 100 # We divide by 100 to generate a score
    mark_met.append(int(acc_market))
    
cons_df['Market Metric'] = mark_met

# Check the dataframe
cons_df

,Rank,Country,Capital,Population,Consumption,Lifestyle Metric,Latitude,Longitude,Coffee Shop Dens,Cafe Density,Opportunity Metric,Market Metric
0,1,Finland,Helsinki,635591,12.0,200,60.167410,24.942577,50,50,100,120
1,2,Norway,Oslo,645701,9.9,206,59.913330,10.738970,22,35,57,99
2,4,Denmark,Copenhagen,794128,8.7,223,55.686724,12.570072,26,34,60,86
3,5,Netherlands,Amsterdam,855965,8.4,220,52.372760,4.893604,50,50,100,84
4,6,Sweden,Stockholm,962154,8.2,208,59.325117,18.071093,11,50,61,81
6,11,Bosnia and Herzegovina,Sarajevo,395133,6.2,131,43.851977,18.386687,7,9,16,62
7,12,Austria,Vienna,1749673,6.1,230,48.208354,16.372504,40,50,90,60
8,13,Italy,Rome,2868104,5.9,175,41.893320,12.482932,0,9,9,59
10,16,Germany,Berlin,3748148,5.5,218,52.517037,13.388860,27,38,65,55
11,17,Greece,Athens,664046,5.4,142,37.983941,23.728305,50,50,100,54
12,18,France,Paris,2241346,5.4,192,48.856697,2.351462,20,50,70,54
13,19,Croatia,Zagreb,804200,5.1,133,45.813177,15.977048,47,37,84,50
14,20,Cyprus,Nicosia,270000,4.9,131,35.173930,33.364726,44,50,94,49
16,22,Estonia,Tallinn,440206,4.5,145,59.437216,24.745369,30,50,80,45
17,23,Spain,Madrid,3233527,4.5,185,40.416705,-3.703582,37,50,87,45
18,24,Portugal,Lisbon,564657,4.3,194,38.707751,-9.136592,18,50,68,43

<p>Our last task is to create the score, by applying the different weightings to the metrics representing <b>Lifestyle (40%)</b>, <b>Market (30%)</b> and <b>Opportunity (30%)</b></p>

In [23]:
score_lst = []
for lm, mm, om in zip(cons_df['Lifestyle Metric'], cons_df['Market Metric'], cons_df['Opportunity Metric']):
    score = int((lm * 0.4) + (mm * 0.3) + (om * 0.3))
    score_lst.append(score)
cons_df['Score'] = score_lst

# Sort our dataframe in decending order, showing the city with the highest score first
cons_df.sort_values(by=['Score'], ascending=False)

,Rank,Country,Capital,Population,Consumption,Lifestyle Metric,Latitude,Longitude,Coffee Shop Dens,Cafe Density,Opportunity Metric,Market Metric,Score
0,1,Finland,Helsinki,635591,12.0,200,60.167410,24.942577,50,50,100,120,146
3,5,Netherlands,Amsterdam,855965,8.4,220,52.372760,4.893604,50,50,100,84,143
7,12,Austria,Vienna,1749673,6.1,230,48.208354,16.372504,40,50,90,60,137
2,4,Denmark,Copenhagen,794128,8.7,223,55.686724,12.570072,26,34,60,86,133
1,2,Norway,Oslo,645701,9.9,206,59.913330,10.738970,22,35,57,99,129
4,6,Sweden,Stockholm,962154,8.2,208,59.325117,18.071093,11,50,61,81,125
10,16,Germany,Berlin,3748148,5.5,218,52.517037,13.388860,27,38,65,55,123
12,18,France,Paris,2241346,5.4,192,48.856697,2.351462,20,50,70,54,114
17,23,Spain,Madrid,3233527,4.5,185,40.416705,-3.703582,37,50,87,45,113
18,24,Portugal,Lisbon,564657,4.3,194,38.707751,-9.136592,18,50,68,43,110
11,17,Greece,Athens,664046,5.4,142,37.983941,23.728305,50,50,100,54,103
14,20,Cyprus,Nicosia,270000,4.9,131,35.173930,33.364726,44,50,94,49,95
16,22,Estonia,Tallinn,440206,4.5,145,59.437216,24.745369,30,50,80,45,95
13,19,Croatia,Zagreb,804200,5.1,133,45.813177,15.977048,47,37,84,50,93
8,13,Italy,Rome,2868104,5.9,175,41.893320,12.482932,0,9,9,59,90
6,11,Bosnia and Herzegovina,Sarajevo,395133,6.2,131,43.851977,18.386687,7,9,16,62,75

<h2>FINISHED</h2>
<p>We have now concluded our data search and compiled a table of target cities that my friend can explore further. Our next task is to write up a report with our findings and recommendations (conclusions).</p>

<h2>CONCLUSION</h2>